# Virtual environments
venv/

# Audio files
*.mp3
*.wav
*.ogg
*.flac
*.m4a
*.aac
*.wma

# Model files
*.pkl
*.h5

# Data directories
data/*
!data/clean_labeled.csv
!data/audio/
data/audio/*
!data/audio/raw/
data/audio/raw/*
!data/audio/processed/
data/audio/processed/*

# Input and output directories
input/
output/

# Documentation
docs/*
!docs/

# IDE specific files
.cursor/

# Jupyter notebook checkpoints
notebooks/.ipynb_checkpoints/
notebooks/scratch.ipynb
build/
chorus_detection.egg-info/
__pycache__/